/* .custom-scroll: :-webkit-scrollbar {

} */




.app {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
}

.app_navbar {
  width: 100%;
  padding: 20px 30px;
}

.app_outer {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: 50px;
  position: fixed;
  top: 5px;
}
.app_boards {
  padding: 30px;
  display: flex;
  min-width: fit-content;
  gap: 30px ;
  height: 60%;
}
.app_boards_board_add {
  width:100%;
  background-color: white;
  border-radius: 5px;
}